#root,
.formMain,
.footerMain {
  background: #d3d3d3;
}

.mainContainer {
  background: white;
  padding-left: 0;
  padding-right: 0;
}

input,
textarea {
  width: 100%;
}

.headerBackground {
  background-image: url("./assets/links/office.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 50vh;
  max-height: 100vh;
  min-height: 35rem;
}

.mapsBackground {
  background-image: url("./assets/links/googleMaps.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 50vh;
  max-height: 100vh;
  min-height: 35rem;
  position: relative;
}

.mapsOverlay {
  position: absolute;
  top: 0;
  background-color: rgb(255, 255, 255, 0.7);
  width: calc(100% - 30px);
  padding: 20px 0;
}

.contactUsBtn {
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid white;
}

.submitBtn {
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid black;
  width: 175px;
}

.centerDiv {
  position: relative;
  top: 25%;
}

.logoImage {
  height: 10vh;
  width: 10vh;
  margin: auto;
}

.circleText {
  margin: auto;
}

.biggerText {
  font-size: 3rem;
}

.circle {
  margin: auto;
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: rgb(221,160,221)
}

.mapCircle {
  margin: auto;
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: orange;
}

.peopleCircle {
  margin: auto;
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: green;
}

.buildingCircle {
  margin: auto;
  margin-bottom: 10px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background-color: purple;
}

.orangeText {
  color: orange;
}

.greenText {
  color: green;
}

.purpleText {
  color: purple;
}

.somethingBigMain {
  background-color: rgb(218,112,214);
}
